body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    gap: 2px;
    justify-content: center;
    margin: 20px auto;
    background-color: #333;
    padding: 5px;
    width: fit-content;
}

input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: none;
    outline: none;
}

input:nth-child(3n) { margin-right: 2px; }
input:nth-child(9n) { margin-right: 0; }
input:nth-child(n+19):nth-child(-n+27),
input:nth-child(n+46):nth-child(-n+54){ margin-bottom: 2px; }

.solved-number {
    color: red;
    font-weight: bold;
}